.footer {
    margin-top: 100%;
    margin-bottom: -10%;
    background-color: #38424b;
}

.footer > div .row .right > a {
    display: block;
    color: #8d9499;
    padding-left: 220px;
    font-size: 15px;
    font-style: normal;
}
.footer > div .row .right > p {
    display: block;
    color: #fdfdfe;
    padding-left: 220px;
    font-weight: bolder;
    font-size: 15px;
}
.footer > div .row .center > a {
    display: block;
    color: #8d9499;
  padding-left: 120px;
    font-size: 15px;
}
.footer > div .row .center > p {
    display: block;
    color: #fdfdfe;
    padding-left: 120px;
    font-weight: bolder;
    font-size: 15px;
}
.footer > div .row .left > a {
    display: block;
    color: #8d9499;
    text-align: left;
    font-size: 15px;
}
.footer > div .row .left > p {
    display: block;
    color: #fdfdfe;
    text-align: left;
    font-weight: bolder;
    font-size: 15px;
}
.footer > a:hover {
    color: #d9d9de; }

.navbar {
    background-color: #38424b;
    border-radius: 0px;
}
.navbar .navbar-header > a.navbar-brand {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #d6d6d2;
    font-size: 18px;
    font-style: italic;
}
.navbar .navbar-nav > li > a {
    color: #d6d6d2;
    font-size: 118%;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: italic;
}
.navbar .navbar-nav > li > a:hover {
    background-color: transparent;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #47545f;
    white-space: nowrap;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: italic;
}
.dropdown-menu > li > a:hover {
    background-color: #f85240;
}
.dropdown-menu > li > a:focus {
    background-color: #222af8;
}