.navtabs{

  border-color: #3774fd;

}
.navtabs li{
    background-color: #d5f3ff;
    border: thin;
    border-color: #4cfd32;
    solid-opacity: 1px;
}
.navtabs li{
    border-right: thin;
    border-right-color: #4cfd32;
    border-right-style: inset;
}
.navtabs li{
    border-top: thin;
    border-top-color: #97fd9c;
    border-top-style: inset;
}
.navtabs li> a{

    font-style: italic;
    color: #080808;
}
.navtabs li>a:hover{
    color: #1334fd;
}



.navtabs li > a:focus{
    color: #3df5fd;
}

.navtabs li {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}


.top_margin{
    margin-top: 60px;
}