<!-- CONTACT -->

@main("Hodimlarni qo'shish") {
    @navbar("addWorkers")

    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="text-center">
                    <h1 class="text-primary"><i>Xodimlarning shaxsiy ma'lumotlarini kiritish</i></h1>
                </div>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active" ><a href="#1"  data-toggle="tab" title="Umumiy holat" > Umumiy</a></li>
                    <li ><a href="#2" data-toggle="tab" title="Manzil Malumotlarni kiritish" >Manzil</a></li>
                    <li ><a href="#3" data-toggle="tab" title="Pasport Malumotlarni kiritish" >Pasport</a></li>
                    <li ><a href="#4" data-toggle="tab" title="Mehnat daftarchasi Malumotlarni kiritish" >Mehnat Daftarchasi</a></li>
                    <li ><a href="#5" data-toggle="tab" title="Oila malumotlarni kiritish" >Oila</a></li>
                    <li ><a href="#6" data-toggle="tab" title="Ish malumotlarni kiritish" >Ish</a></li>
                    <li ><a href="#7" data-toggle="tab" title="Til bilish malumotlarni qo'shish" >Til Bilishi</a></li>
                </ul>

                <div class="tab-content">
                    @*Asosiy*@
                    <div class="tab-pane fade active in" id="1" >
                        <br>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="row">
                                    <form class="" action="#" method="post">
                                        <div>
                                            <input class="form-control form-group" name="Ismi" placeholder="Ismi...">
                                        </div>
                                        <br>
                                        <div>
                                            <input class="form-control form-group" type="email" name="Familyasi" placeholder="Familyasi...">
                                        </div>
                                        <br>
                                        <div>
                                            <input class="form-control form-group" type="text" name="Otasining ismi" placeholder="Otasining ismi...">
                                        </div>
                                        <br>
                                        <div class="text-center">
                                            <label for="date"><b>Tugilgan sana: </b> </label>
                                            <input class="" type="date" id="date" name="Tugilgan sana">
                                        </div>
                                        <br>

                                        <div class="form-group">

                                            <select class="form-control">
                                                <option >Ma'lumoti</option>
                                                <option value="1">Boshlang'ich</option>
                                                <option value="2">Oliy</option>
                                                <option value="3">O'rta maxsus</option>
                                                <option value="4">O'rta</option>
                                                <option value="5">To'liqsiz o'rta</option>
                                            </select>
                                            <br>
                                            <select class="form-control">
                                                <option selected="selected" >Millati</option>
                                                <option value="1">O'zbek</option>
                                                <option value="2">Rus</option>
                                                <option value="3">Tojik</option>
                                                <option value="4">Qozoq</option>
                                                <option value="5">Turkman</option>
                                                <option value="24">Eroniy</option>
                                                <option value="25">Qoraqalpoq</option>
                                                <option value="26">Ukrain</option>
                                                <option value="27">Tatar</option>
                                                <option value="28">Qirg'iz</option>
                                                <option value="29">Arman</option>
                                                <option value="30">Yahudiy</option>
                                                <option value="31">Uyg'ur</option>
                                                <option value="32">Koreys</option>
                                                <option value="33">Boshqa millat</option>
                                                <option value="34">Afg'on</option>
                                                <option value="35">Ingliz</option>
                                                <option value="36">Ispan</option>
                                                <option value="37">Hind</option>
                                                <option value="39">Ozarbayjon</option>
                                                <option value="40">Nemis</option>
                                                <option value="41">Belorus</option>
                                                <option value="42">Qrim-Tatar</option>
                                                <option value="43">Masxeti turk</option>
                                                <option value="44">Grek</option>
                                            </select>
                                            <br>
                                            <select class="form-control">

                                                <option selected="selected" value="1">Jinsi</option>
                                                <option value="1">Erkak</option>
                                                <option value="2">Ayol</option>
                                            </select>
                                            <br>
                                            <select class="form-control">
                                                <option selected="selected">Oilaviy ahvoli</option>
                                                <option value="1">Turmushga chiqmagan</option>
                                                <option value="2">Beva</option>
                                                <option value="3">Ajrashgan</option>
                                                <option value="4">Uylangan</option>
                                                <option value="5">Turmushga chiqqan</option>
                                                <option value="6">Uylanmagan</option>
                                            </select>
                                            <br>
                                            <div class="text-center">

                                                <a data-toggle="tab" href="#2">
                                                    <button type="button" class="btn btn-success" >Keyingi >></button>
                                                </a>

                                            </div>

                                        </div> <!-- .row -->
                                        <div class="col-md-3"></div>
                                    </form>
                                </div> <!-- .row -->
                            </div>

                        </div>
                    </div>
                    @*Manzil*@
                    <div class="tab-pane fade " id="2">
                        <br>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <select class="form-control"><option value="0">---Tanlang---</option>
                                    <option value="1">O'zbekiston</option>
                                    <option value="2">Avstraliya</option>
                                    <option value="3">Avstriya</option>
                                    <option value="4">Ozarbayjon</option>
                                    <option value="5">Albaniya</option>
                                    <option value="6">Jazoir</option>
                                    <option value="7">Amerika-Samoa</option>
                                    <option value="8">Angilya</option>
                                    <option value="9">Angola</option>
                                    <option value="10">Andorra</option>
                                    <option value="11">Antigua va Barbuda</option>
                                    <option value="12">Antilles</option>
                                    <option value="13">Argentina</option>
                                    <option value="14">Armeniya</option>
                                    <option value="16">Afg'oniston</option>
                                    <option value="17">Bagama orollari</option>
                                    <option value="18">Bangladesh</option>
                                    <option value="19">Barbados</option>
                                    <option value="20">Baxrayn</option>
                                    <option value="21">Belarussiya</option>
                                    <option value="22">Beliz</option>
                                    <option value="23">Belgiya</option>
                                    <option value="24">Benin</option>
                                    <option value="25">Bermud oroli</option>
                                    <option value="26">Boliviya</option>
                                    <option value="27">Bosniya va Gertsegovinya</option>
                                    <option value="28">Botsvana</option>
                                    <option value="29">Brazilya</option>
                                    <option value="30">Bruney</option>
                                    <option value="31">Burkina-Faso</option>
                                    <option value="32">Burundi</option>
                                    <option value="33">Butan</option>
                                    <option value="34">Vanuatu</option>
                                    <option value="35">Buyuk Britaniya</option>
                                    <option value="36">Vengriya</option>
                                    <option value="37">Venesuela</option>
                                    <option value="38">Virgin oroli</option>
                                    <option value="40">Sharqiy Timor</option>
                                    <option value="41">Vetnam</option>
                                    <option value="42">Gabon</option>
                                    <option value="43">Gaiti</option>
                                    <option value="44">Gayana</option>
                                    <option value="45">Gambiya</option>
                                    <option value="46">Gana</option>
                                    <option value="47">Gvadelupa</option>
                                    <option value="48">Gvatemala</option>
                                    <option value="50">Gvineya</option>
                                    <option value="51">Gvineya-Bisau</option>
                                    <option value="52">Germaniya</option>
                                    <option value="53">Gibraltar</option>
                                    <option value="54">Gonduras</option>
                                    <option value="55">Grenada</option>
                                    <option value="56">Grenlandiya</option>
                                    <option value="57">Gretsiya</option>
                                    <option value="58">Gruziya</option>
                                    <option value="60">Daniya</option>
                                    <option value="61">Kongo</option>
                                    <option value="62">Jibuti</option>
                                    <option value="64">Domin Respublikasi</option>
                                    <option value="65">Misr</option>
                                    <option value="66">Zambiya</option>
                                    <option value="67">G'arbiy Sahroi Kabir</option>
                                    <option value="68">Zimbabve</option>
                                    <option value="69">Isroil</option>
                                    <option value="70">Indoneziya</option>
                                    <option value="71">Iordaniya</option>
                                    <option value="72">Iroq</option>
                                    <option value="73">Eron</option>
                                    <option value="74">Irlandiya</option>
                                    <option value="75">Islandiya</option>
                                    <option value="76">Ispaniya</option>
                                    <option value="77">Italiya</option>
                                    <option value="78">Yaman</option>
                                    <option value="79">Kabo-Verde</option>
                                    <option value="80">Qozog'iston</option>
                                    <option value="82">Kambodja</option>
                                    <option value="83">Kamerun</option>
                                    <option value="84">Kanada</option>
                                    <option value="85">Qatar</option>
                                    <option value="86">Kenya</option>
                                    <option value="87">Kipr</option>
                                    <option value="88">Kiribati</option>
                                    <option value="89">Xitoy</option>
                                    <option value="91">Kolumbiya</option>
                                    <option value="92">Komoros orollari</option>
                                    <option value="93">Kongo</option>
                                    <option value="94">Kosta-Rika</option>
                                    <option value="95">Kot-d'Ivuar</option>
                                    <option value="96">Kuba</option>
                                    <option value="97">Quvayt</option>
                                    <option value="98">Kuk orollari</option>
                                    <option value="99">Qirg'iziston</option>
                                    <option value="100">Laos</option>
                                    <option value="101">Latviya</option>
                                    <option value="102">Lesoto</option>
                                    <option value="103">Liberiya</option>
                                    <option value="104">Livan</option>
                                    <option value="105">Liviya</option>
                                    <option value="106">Litva</option>
                                    <option value="107">Lixtenshteyn</option>
                                    <option value="108">Lyuksemburg</option>
                                    <option value="109">Mavriya</option>
                                    <option value="110">Mavritaniya</option>
                                    <option value="111">Madagaskar</option>
                                    <option value="113">Makedoniya</option>
                                    <option value="114">Malavi</option>
                                    <option value="115">Malaziya</option>
                                    <option value="116">Mali</option>
                                    <option value="117">Maldava</option>
                                    <option value="118">Malta</option>
                                    <option value="119">Marokko</option>
                                    <option value="120">Martinika</option>
                                    <option value="122">Meksika</option>
                                    <option value="123">Mozambik</option>
                                    <option value="124">Moldova</option>
                                    <option value="125">Monako</option>
                                    <option value="126">Mo'g'iliston</option>
                                    <option value="128">Myanma</option>
                                    <option value="129">Namibiya</option>
                                    <option value="130">Nauru</option>
                                    <option value="131">Nepal</option>
                                    <option value="132">Niger</option>
                                    <option value="133">Nigeriya</option>
                                    <option value="134">Niderlandiya</option>
                                    <option value="135">Nikaragua</option>
                                    <option value="137">Yangi Zelandiya</option>
                                    <option value="138">Yangi Kaledoniya</option>
                                    <option value="139">Norvegiya</option>
                                    <option value="140">Norfolk</option>
                                    <option value="141">Birlashgan Arab Amirligi</option>
                                    <option value="142">Oman</option>
                                    <option value="143">Pokiston</option>
                                    <option value="145">Panama</option>
                                    <option value="146">Papua-Yangi Gvineya</option>
                                    <option value="147">Paragvay</option>
                                    <option value="148">Peru</option>
                                    <option value="149">Pitkern oroli</option>
                                    <option value="150">Polsha</option>
                                    <option value="151">Portugaliya</option>
                                    <option value="152">Puerto-Riko</option>
                                    <option value="153">Reyunion</option>
                                    <option value="155">Rossiya</option>
                                    <option value="156">Ruanda</option>
                                    <option value="157">Ruminya</option>
                                    <option value="158">San-Marino</option>
                                    <option value="159">San-Tome va Prinsipi</option>
                                    <option value="160">Saudiya Arabistoni</option>
                                    <option value="161">Svazilend</option>
                                    <option value="162">Muqaddas Yelena oroli</option>
                                    <option value="163">Shimoliy Koreya</option>
                                    <option value="165">Seyshal oroli</option>
                                    <option value="166">Senegal</option>
                                    <option value="167">Sent-Pyer va Mikelon</option>
                                    <option value="168">Sent-Vinsent va Grenadina</option>
                                    <option value="169">Sent-Kits va Nevis</option>
                                    <option value="170">Sent-Lusiya</option>
                                    <option value="171">Singapur</option>
                                    <option value="172">Suriya</option>
                                    <option value="173">Slovakiya</option>
                                    <option value="174">Sloveniya</option>
                                    <option value="175">Amerika Qo'shma Shtatlari</option>
                                    <option value="176">Solomon orollari</option>
                                    <option value="177">Somali</option>
                                    <option value="178">Sudan</option>
                                    <option value="179">Surinam</option>
                                    <option value="180">Syerra-Leone</option>
                                    <option value="181">Tojikiston</option>
                                    <option value="182">Tailand</option>
                                    <option value="183">Tanzaniya</option>
                                    <option value="185">Togo</option>
                                    <option value="186">Tonga</option>
                                    <option value="187">Trinidad va Tobago</option>
                                    <option value="188">Tuvalu</option>
                                    <option value="189">Tunis</option>
                                    <option value="190">Turkmaniston</option>
                                    <option value="191">Turkiya</option>
                                    <option value="192">Uganda</option>
                                    <option value="193">Ukraina</option>
                                    <option value="195">Urugvay</option>
                                    <option value="197">Fiji</option>
                                    <option value="198">Filippin</option>
                                    <option value="199">Finlandiya</option>
                                    <option value="201">Fransiya</option>
                                    <option value="202">Fransiya Polineziyasi</option>
                                    <option value="203">Xorvatiya</option>
                                    <option value="205">Chad</option>
                                    <option value="206">Chexiya</option>
                                    <option value="207">Chili</option>
                                    <option value="208">Shvetsiya</option>
                                    <option value="209">Shveytsariya</option>
                                    <option value="210">Shri-Lanka</option>
                                    <option value="211">Ekvador</option>
                                    <option value="212">Ekvatorial Gvineya</option>
                                    <option value="213">Eritreya</option>
                                    <option value="214">Estoniya</option>
                                    <option value="215">Efiopiya</option>
                                    <option value="216">Janubiy Koreya</option>
                                    <option value="217">Janubiy Afrika Respublikasi</option>
                                    <option value="218">Yamayka</option>
                                    <option value="219">Yaponiya</option>
                                    <option value="1228">Абхазия</option>
                                    <option value="1229">Арулько</option>
                                    <option value="1230">Болгария</option>
                                    <option value="1231">Валлис и Футуна о-ва</option>
                                    <option value="1232">Гернси о-в</option>
                                    <option value="1233">Гонконг</option>
                                    <option value="1234">Джерси о-в</option>
                                    <option value="1235">Индия</option>
                                    <option value="1236">Мэн о-в</option>
                                    <option value="1237">Сальвадор</option>
                                    <option value="1238">Сербия</option>
                                    <option value="1239">Тайвань</option>
                                    <option value="1240">Токелау о-ва</option>
                                    <option value="1241">Туркс и Кейкос</option>
                                    <option value="1242">Фарерские о-ва</option>
                                    <option value="1243">Французская Гвинея</option>
                                    <option value="1244">Черногория</option>
                                    <option value="1245">Южная Осетия</option>
                                </select><br>
                                <select class="form-control">
                                    <option selected="selected">Viloyat</option>
                                    <option value="1">Qoraqalpog'iston Respublikasi</option>
                                    <option value="2">Andijon viloyati</option>
                                    <option value="3">Namangan viloyati</option>
                                    <option value="4">Farg'ona viloyati</option>
                                    <option value="5">Buxoro viloyati</option>
                                    <option value="6">Xorazm viloyati</option>
                                    <option value="7">Surxondaryo viloyati</option>
                                    <option value="8">Qashqadaryo viloyati</option>
                                    <option value="9">Jizzax viloyati</option>
                                    <option value="10">Navoiy viloyati</option>
                                    <option value="11">Samarqand viloyati</option>
                                    <option value="12">Sirdaryo viloyati</option>
                                    <option value="13">Toshkent viloyati</option>
                                    <option value="14">Toshkent shahri</option>
                                </select><br>
                                <select class="form-control">
                                    <option selected="68">Tuman (Shahar)</option>
                                    <option value="69">Urganch tumani</option>
                                    <option value="70">Xiva tumani</option>
                                    <option value="71">Xazorasp tumani</option>
                                    <option value="72">Gurlan tumani</option>
                                    <option value="73">Xonqa tumani</option>
                                    <option value="74">Shovot tumani</option>
                                    <option value="75">Yangibozor tumani</option>
                                    <option  value="76">Qo'shko'pir tumani</option>
                                    <option value="77">Bog'ot tumani</option>
                                    <option value="78">Yangiariq tumani</option>
                                    <option value="180">Urganch shahri</option>
                                </select><br>
                                <input class="form-control" placeholder="Manzil"><br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label"><b>Telefon raqami:</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control" id="Address_Phone" name="Address_Phone" type="text"  value="+998 "><br>
                                    </div>

                                </div>
                                <input class="form-control" id="Address_Fax" placeholder="Faks" name="Address_Fax" type="text" ><br>
                                <input class="form-control" id="Address_Email" name="Address_Email"  placeholder="Email Address" type="email" ><br>
                                <br>
                                <div class="text-center">
                                    <a data-toggle="tab" href="#3">
                                        <button type="button" class="btn btn-success" >Keyingi >></button>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-3"></div>

                        </div>
                    </div>
                    @*Pasport*@
                    <div class="tab-pane fade" id="3">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <br>
                                <input class="form-control form-group" type="text" name="psSR"  maxlength="2" placeholder="Pasport Seriasi..."><br>
                                <input class="form-control form-group" type="number" name="psNO" placeholder="Pasport Raqami..."><br>
                                <input class="form-control form-group" type="text" name="kmt" placeholder="Yug'ilgan davlati..."><br>
                                <input class="form-control form-group" type="text" name="qch" placeholder="Tug'ilgan viloyati..."><br>
                                <input class="form-control form-group" type="text" name="ammu" placeholder="IIB(to'liq kiritilsin...)"><br>
                                <div class="col-md-6">

                                    <label for="date"><b>Berilgan sanasi</b> </label>
                                    <input  class="form-control form-group" type="date" name="a1" >
                                </div>

                                <div class="col-md-6">

                                    <label for="date"><b>Amal qilish mudati </b> </label>
                                    <input  class="form-control form-group" type="date" name="a2" >

                                </div>
                                <input class="form-control form-group" type="text" name="a3" placeholder="Fuqoroligi...">
                                <br>
                                <div class="text-center">
                                    <a href="#">
                                    <button type="button" class="btn btn-success" >Keyingi >></button>
                                    </a>
                                </div>




                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    @*mehnat daftarchasi*@
                    <div class="tab-pane fade " id="4">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label"><b>Ishga kirgan yili:</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control"  name="Ishga_kirgan_yili" type="date"  ><br>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label"><b>Ishdan bo'shagan yili:</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control"  name="Ishdan_boshagan_yili" type="date" ><br>
                                    </div>

                                </div>
                                <input class="form-control" name="tashkilot" type="text" placeholder="Tashkilot..."><br>
                                <input class="form-control" name="manzil" type="text" placeholder="Manzil..."><br>
                                <input class="form-control" name="lavozim" type="text" placeholder="Lavozim..."><br>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#">
                                <button type="button" class="btn btn-success" >Keyingi >></button>
                            </a>
                        </div>

                    </div>


                    @*Oila*@
                    <div class="tab-pane fade " id="5">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3"><br>
                                <label><b>Otasi:</b></label></div><br>
                                    <div class="col-md-9"><br>
                                <input class="form-control" name="lavozim" type="text" placeholder="Ismi..."><br>
                                <input class="form-control" name="familyasi" type="text" placeholder="Familyasi..."><br>
                                <input class="form-control" name="otchestvo" type="text" placeholder="Otasining ismi..."><br>
                                <input class="form-control" name="otchestvo" type="text" placeholder="Millati..."><br></div>
                                    </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">

                                <label><b>Onasi:</b></label></div><br>
                                    <div class="col-md-9">
                                    <input class="form-control" name="lavozim" type="text" placeholder="Ismi..."><br>
                                    <input class="form-control" name="familyasi" type="text" placeholder="Familyasi..."><br>
                                    <input class="form-control" name="otchestvo" type="text" placeholder="Otasining ismi..."><br>
                                    <input class="form-control" name="otchestvo" type="text" placeholder="Millati..."><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#">
                                <button type="button" class="btn btn-success" >Keyingi >></button>
                            </a>
                        </div>

                    </div>
                    @*ish*@
                    <div class="tab-pane fade " id="6">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6"><br>
                                <div class="row">
                                    <div class="col-md-4"><label class="control-label"><b>Bo'lim:</b></label></div>
                                    <div class="col-md-8">
                                    <select class="form-control"  >
                                        <option value="3159">Tanlang..</option>
                                        <option value="3160">Direktor</option>

                                        <option value="3162">O`quv va ilmiy ishlar bo`yicha dirеktor muovini</option>
                                        <option value="3176">Manaviy ma`rifiy ishlari bo`yicha dirеktor muovini</option>
                                        <option value="3181">Moliya-iqtisod va xo`jalik ishlari bo`yicha dirеktor muovini</option>
                                        <option value="3185">Kompyuter injiniringi fakulteti</option>
                                        <option value="3197">Axborot texnologiyalari Markazi</option>
                                        <option value="3227">Axborot texnologiyalari kafedrasi</option>
                                        <option value="3235">Axborot ta’lim texnologiyalari kafedrasi</option>
                                        <option value="3251">&quot;Telekommunikatsiya injiniringi&quot;  kafedrasi</option>
                                        <option value="3264">Tabiiy va umumkasbiy fanlar kafedrasi</option>
                                        <option value="3268">Gumanitar va ijtimoiy fanlar kafedrasi</option>
                                        <option value="3276">Axborot-resurs markazi</option>
                                        <option value="5981">Devonxona</option>
                                        <option value="5984">Ichki nazorat va monitoring </option>
                                        <option value="5999">Ilmiy bo`lim</option>

                                    </select>
                                                 </div>
                                </div>
                                <br>
                                <div class="row">

                                    <div class="col-md-4"><label class="control-label"><b>Lavozim:</b></label></div>
                                    <div class="col-md-8">
                                    <select class="form-control">
                                        <option value="141">Bo&#39;sh</option>
                                        <option value="142">Rektor (Filial direktori)</option>
                                        <option value="143">O&#39;quv va ilmiy ishlar bo&#39;yicha prorektor (filial direktori o&#39;rinbosari)</option>
                                        <option value="144">Ixtisoslashtirilgan Kengash ilmiy kotibi</option>
                                        <option value="145">Fakultet dekani</option>
                                        <option value="146">Kafedra mudiri</option>
                                        <option value="147">Kafedra professori</option>
                                        <option value="148">Kafedra dotsenti</option>
                                        <option value="149">Katta o&#39;qituvchi</option>
                                        <option value="150">O&#39;qituvchi assistent</option>
                                        <option value="151">Loyiha rahbari</option>
                                        <option value="152">Dasturchi</option>
                                        <option value="153">Bosh hisobchi</option>
                                        <option value="154">Ilmiy xodim</option>
                                        <option value="155">Ilmiy tadqiqotchi</option>
                                        <option value="156">Bo&#39;lim boshlig&#39;i</option>
                                        <option value="157">O&#39;quv ishlari bo&#39;yicha prorektor (filial direktori o&#39;rinbosari)</option>
                                        <option value="158">Ilmiy ishlar bo&#39;yicha prorektor (filial direktori o&#39;rinbosari)</option>
                                        <option value="159">Moliyaviy-iqtisodiy ishlari bo&#39;yicha prorektor (filial direktori o&#39;rinbosari)</option>
                                        <option value="160">Xalqaro aloqalar bo&#39;yicha prorektor (filial direktori o&#39;rinbosari)</option>
                                        <option value="161">Rektor yordamchisi</option>
                                        <option value="162">Bosh muhandis</option>
                                        <option value="163">Bosh mexanik</option>
                                        <option value="164">Bosh energetik</option>
                                        <option value="165">Kotiba - ish yurituvchi</option>
                                        <option value="166">Huquqshunos maslahatchi</option>
                                        <option value="167">1-toifali huquqshunos maslahatchi</option>
                                        <option value="168">Uslubchi</option>
                                        <option value="169">Inspektor</option>
                                        <option value="170">Iqtidorli yoshlar bilan ishlash bo&#39;yicha uslubchi</option>
                                        <option value="171">Metodik ishlar bo&#39;yicha boshliq o&#39;rinbosari</option>
                                        <option value="172">Sirtqi ta&#39;lim uslubchisi</option>
                                        <option value="173">O&#39;quv ishlari bo&#39;yicha inspektor</option>
                                        <option value="174">Statist</option>
                                        <option value="175">Yosh mutaxasislar bilan ishlash bo&#39;yicha bosh inspektor</option>
                                        <option value="176">Katta inspektor</option>
                                        <option value="177">Ilmiy tadqiqot ishlari muhandisi</option>
                                        <option value="178">Markaz boshlig&#39;i - Axborot va texnik ta&#39;minot bo&#39;limi boshlig&#39;i</option>
                                        <option value="179">Muhandis-dasturchi (toifasiz)</option>
                                        <option value="180">Muhandis-elektronchi (toifasiz)</option>
                                        <option value="181">Texnik - elektronchi</option>
                                        <option value="182">Kompyuter zali mudiri</option>
                                        <option value="183">Tizimli dasturlovchi</option>
                                        <option value="184">Tarmoq va ma&#39;lumotlar bazasi administratori</option>
                                        <option value="185">Texnik</option>
                                        <option value="186">Bo&#39;lim (sektor) mudiri</option>
                                        <option value="187">Direktor</option>
                                        <option value="188">Direktor o&#39;rinbosari</option>
                                        <option value="189">Bo&#39;lim (sektor) boshlig&#39;i</option>
                                        <option value="190">Bosh kutubxonachi</option>
                                        <option value="191">Bosh bibliograf</option>
                                        <option value="192">Etakchi kutubxonachi</option>
                                        <option value="193">Etakchi bibliograf</option>
                                        <option value="194">Kutubxonachi(kategoriyasiz)</option>
                                        <option value="195">Bibliograf (kategoriyasiz)</option>
                                        <option value="196">Muqovalovchi</option>
                                        <option value="197">Nusxa ko&#39;chirish-ko&#39;paytirish uskunasi operatori</option>
                                        <option value="198">Restavrator</option>
                                        <option value="199">Muharrir</option>
                                        <option value="200">Musahhih</option>
                                        <option value="201">Texnik redaktor</option>
                                        <option value="202">Dekan o&#39;rinbosari</option>
                                        <option value="203">O&#39;quv ishlari bo&#39;yicha dispetcher</option>
                                        <option value="204">1-toifali iqtisodchi</option>
                                        <option value="205">2-toifali iqtisodchi</option>
                                        <option value="206">Bosh buxgalter</option>
                                        <option value="207">Bosh buxgalter o&#39;rinbosari</option>
                                        <option value="208">Bosh buxgalter o&#39;rinbosari - auditor</option>
                                        <option value="209">To&#39;lov-kontrakt asosida o&#39;qitishdan tushgan mablag&#39;larini hisobga olish bo&#39;yicha buxgalter (toifasiz, 1,2-toifa)</option>
                                        <option value="210">Buxgalter (kategoriyasiz)</option>
                                        <option value="211">Katta g&#39;aznachi</option>
                                        <option value="212">G&#39;aznachi</option>
                                        <option value="213">Bosh ta&#39;minotchi</option>
                                        <option value="214">Ombor mudiri</option>
                                        <option value="215">Omborchi</option>
                                        <option value="216">Radioaktiv moddalar ombori mudiri</option>
                                        <option value="217">Bino komendanti</option>
                                        <option value="218">Yordamchi ishchi</option>
                                        <option value="219">Xo&#39;jalik mudiri</option>
                                        <option value="220">Dispetcher xizmati operatori</option>
                                        <option value="221">Talabalar turar joyi mudiri</option>
                                        <option value="222">slesar - santexnik</option>
                                        <option value="223">Elektromontyor</option>
                                        <option value="224">duradgor</option>
                                        <option value="225">Ventilyatsiya va konditsionerlashtirish tizimlarini ta&#39;mirlash va xizmat ko&#39;rsatish bo&#39;yicha chilangar</option>
                                        <option value="226">Pol pardozlovchi</option>
                                        <option value="227">Xizmat binolari va talabalar turar joyini tozalovchi farrosh</option>
                                        <option value="228">Gaz payvandlovchi</option>
                                        <option value="229">Garderobchi</option>
                                        <option value="230">Liftchi</option>
                                        <option value="231">Qorovul</option>
                                        <option value="232">Bog&#39;bon</option>
                                        <option value="233">Xovli supuruvchi</option>
                                        <option value="234">Yuklovchi</option>
                                        <option value="235">Xo&#39;jalik bekasi</option>
                                        <option value="236">Pasportist</option>
                                        <option value="237">Talabalar turar joyi direktori</option>
                                        <option value="238">Talabalar turar joyi direktori o&#39;rinbosari</option>
                                        <option value="239">Talabalar shaharchasi direktori o&#39;rinbosari</option>
                                        <option value="240">Dispetcher-garaj boshlig&#39;i</option>
                                        <option value="241">Mexanik</option>
                                        <option value="242">Xaydovchi</option>
                                        <option value="243">Stantsiya boshlig&#39;i (ATS)</option>
                                        <option value="244">Aloqa muhandisi (toifasiz)</option>
                                        <option value="245">Aloqa bo&#39;yicha texnik</option>
                                        <option value="246">Aloqachi (aloqa elektromontyori)</option>
                                        <option value="247">Kabinet mudiri</option>
                                        <option value="248">Muhandis</option>
                                        <option value="249">Ishlab chiqarish ta&#39;limi ustasi</option>
                                        <option value="250">Kontsertmeyster (etakchi kontsertmeyster)</option>
                                        <option value="251">Ma&#39;naviy-ma&#39;rifiy ishlar bo&#39;yicha prorektor (filial direktori o&#39;rinbosari)</option>
                                        <option value="252">Stajyor - tadqiqotchi izlanuvchi</option>
                                        <option value="253">EHM operatori</option>
                                        <option value="254">Ilmiy kengash kotibi</option>
                                        <option value="255">Devonxona mudiri</option>
                                        <option value="256">Ish yurituvchi</option>
                                        <option value="257">Arxiv mudiri</option>
                                        <option value="258">Arxivarius</option>
                                        <option value="259">Kuryer</option>
                                        <option value="260">O&#39;quv jihozlari bo&#39;yicha 1-toifali muhandis</option>
                                        <option value="261">Mehnat muhofazasi bo&#39;yicha 1-toifali muhandis</option>
                                        <option value="262">Mehnat muhofazasi bo&#39;yicha muhandis</option>
                                        <option value="263">Fuqaro mudofaasi va favqulodda vaziyatlar bo&#39;yicha muhandis</option>
                                        <option value="264">Yong&#39;in xavfsizligi bo&#39;yicha instruktor</option>
                                        <option value="265">Katta tovarshunos</option>
                                        <option value="266">Muhandis-dasturchi (1 - toifa)</option>
                                        <option value="267">Muhandis-dasturchi (2 - toifa)</option>
                                        <option value="268">Muhandis-elektronchi (1 - toifa)</option>
                                        <option value="269">Muhandis-elektronchi (2 - toifa)</option>
                                        <option value="270">Kutubxonachi (1 - toifa)</option>
                                        <option value="271">Kutubxonachi (2 - toifa)</option>
                                        <option value="272">Bibliograf (1 - toifa)</option>
                                        <option value="273">Bibliograf( 2- toifa)</option>
                                        <option value="274">Buxgalter (1 - toifa)</option>
                                        <option value="275">Buxgalter (2 - toifa)</option>
                                        <option value="276">Aloqa muhandisi (1 - toifa)</option>
                                        <option value="277">Aloqa muhandisi (2 - toifa)</option>
                                        <option value="278">Laborant</option>
                                        <option value="279">Katta laborant</option>
                                        <option value="280">Etakchi Muhandis-dasturchi</option>
                                        <option value="285">Farosh</option>
                                        <option value="286">Kir yuvuvchi</option>
                                        <option value="287">Hovli supurovchi</option>
                                        <option value="288">Korovul</option>
                                        <option value="289">Bosh mutaxassis</option>
                                        <option value="292">Akademik lisey va kasb-hunar kollejlar bo&#39;yicha prorektor (filial direktori o&#39;rinbosari)</option>

                                    </select>
                                    </div>
                                </div>
                                <br>
                                <input class="form-control" type="text" name="stavka" placeholder="Stavka(1,0.75,0.5,0.25)">
                                <br>
                                <div class="text-center"><a href="#">
                                    <button type="button" class="btn btn-success" >Keyingi >></button>
                                </a></div>

                            </div>
                            <div class="col-md-3"></div>

                        </div>

                    </div>

                    @*Tillar*@
                    <div class="tab-pane fade " id="7">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6"><br>
                                <div class="row">
                                    <div class="col-md-4"><label class="control-label"><b>Qaysi tilni bilishi:</b></label></div>
                                    <div class="col-md-8">
                                        <select class="form-control"  >
                                            <option value="1">Rus tili</option>
                                            <option value="2">Ingliz tili</option>
                                            <option value="3">Ukrain tili</option>
                                            <option value="4">O&#39;zbek tili</option>
                                            <option value="5">Qozoq tili</option>
                                            <option value="6">Nemis tili</option>
                                            <option value="7">Frantsuz tili</option>
                                            <option value="8">Hind tili</option>
                                            <option value="9">Turk tili</option>
                                            <option value="10">Arab tili</option>
                                            <option value="11">Boshqa til</option>
                                            <option value="12">Tojik tili</option>
                                            <option value="13">Qirg&#39;iz tili</option>
                                            <option value="14">Turkman tili</option>
                                            <option value="15">Italyan tili</option>
                                            <option value="16">Korakalpok tili</option>

                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">

                                    <div class="col-md-4"><label class="control-label"><b>Qay daraja biladi:</b></label></div>
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option value="1">Mukammal biladi</option>
                                            <option value="2">O&#39;rta darajada biladi</option>
                                            <option value="3">Lug&#39;at yordamida o&#39;qiydi</option>

                                        </select>
                                    </div>
                                </div>
                                <br>

                                <div class="text-center"><a href="#">
                                    <button type="button" class="btn btn-success" >Keyingi >></button>
                                </a></div>

                            </div>
                            <div class="col-md-3"></div>

                        </div>

                    </div>

                </div>



            </div>

        </div>



    </div> <!-- .container -->



}
