@(activePage: String)

<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 right">
                    <p>Talabalar</p>
                    <a href="#">Talabalarni qo'shish</a>
                    <a href="#">Yangi talaba qo'shish</a>
                </div>
                <div class="col-xs-4 center">
                    <p>O'qituvchilar</p>
                    <a href="#">O'qituvchilar ro'yxati</a>
                    <a href="#">Yangi o'qituvchi qo'shish</a>
                </div>
                <div class="col-xs-4 left">
                    <p>Xodimlar</p>
                    <a href="#">Xodimlar ro'yxati</a>
                    <a href="#">Yangi xodim qo'shish</a>
                </div>
            </div>
            <p class="text-center">&copy Scala Group</p>
        </div>
    </div>
</footer>