@(message: String)
@navbar("index")

@main("Personnel Management") {
    <div class="container">


        @*<h3>Hi</h3>*@
        <button type="button" class="btn btn-primary center-block"><a href="@routes.Application.OqituvchilarAnketasi()" class="text-white">
            Oqituvchi Anketasi</a></button>
        <br>

        <button type="button" class="btn btn-primary center-block"> <a href="@routes.Hodimlar.add()" class="text-white">
            Xodimlar</a></button>
        @**@
    </div>
}
