@(activePage: String)

<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.homePage()"><img src="assets/images/Kicon2.png" alt="" class="img-responsive small-icon"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Talabalar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="@if(activePage == "studentsList") {active} "><a href="@routes.Students.studentsList()">Talabalar ro'yhati</a></li>
                        <li class="@if(activePage == "addStudents") {active} "><a href="@routes.Students.addStudents()">Yangi talaba qo'shish</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        O'qituvchilar<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="@if(activePage == "teachersList") {active} "><a href="@routes.Teachers.teachersList()">O'qituvchilar ro'yhati</a></li>
                        <li class="@if(activePage == "addTeachers") {active} "><a href="@routes.Teachers.addTeachers()">Yangi o'qituvchi qo'shish</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Xodimlar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="@if(activePage == "workersList") {active} "><a href="@routes.Workers.workersList()">Xodimlar ro'yhati</a></li>
                        <li class="@if(activePage == "addWorkers") {active} "><a href="@routes.Workers.addWorkers()">Yangi hodim qo'shish</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="sayt bo'yicha izlash...">
            </form>
        </div>
        </div>
</nav>