@(talks: List[talabalar])

@main("Talabalar ro'yhati") {

  @navbar("studentsList")

  <div class="container main-content">

    <h1 class="text-center">Talabalar ro'yhati</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Ismi</th>
          <th>Familiyasi</th>
          <th>Otasining ismi</th>
          <th>Tug'ulgan sanasi</th>
          <th>Guruhi</th>
          <th>Elektron pochtasi</th>
          <th>Telefon</th>
          <th>O'chirish</th>
        </tr>
      </thead>
      <tbody>
      @for(i <- talks) {
        <tr>
          <td>@i.ismi</td>
          <td>@i.familiyasi</td>
          <td>@i.otasining_ismi</td>
          <td>@i.tugulgan_sana</td>
          <td>@i.guruhi</td>
          <td>@i.elektron_pochtasi</td>
          <td>@i.tel</td>
          <td>
            <a href="@routes.Malumot.ochirish(i.id.get)">
              <button class="btn btn-danger">Delete</button>
            </a>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </div>

}
