@(teachers: List[PersonalDataT])
@main("teacherList") {
    @navbar("teacherList")
    <div class="container">
        <h1 class="text-center">O'qituvchilar Ro'yhati</h1>
        <table class="table table-responsive">
            <div class="row">
                <div class="col-xs-3">
                    <thead>
                        <tr><th>Ismi</th></tr>
                        <tr><th>Familiyasi</th></tr>
                        <tr><th>Otasining ismi</th></tr>
                        <tr><th>Tug'ilgan sanasi</th></tr>
                        <tr><th>Pasport seriyasi</th></tr>
                        <tr><th>Lavozimi</th></tr>
                        <tr><th>Bo'lim (kafedra)</th></tr>
                        <tr><th>Yashash manzili</th></tr>
                    </thead>
                </div>
                <div class="col-xs-9">
                    <tbody>
                    @for(i <- teachers){
                        <tr>
                            <td>@(i.name + " "+ i.surname + " " +i.secondname)</td>
                            <td>@i.dateofbirth</td>
                            <td>@i.passportSeries</td>
                            <td>@i.role</td>
                            <td>@i.department</td>
                            <td>@i.livingPlace</td>
                        </tr>
                    }
                    </tbody>
                </div>
            </div>
        </table>
    </div>
    @footer("O'qituvchilar Ro'yxati")
}