@(workers: List[PersonalDataW])

@main("HodimlarRoyxati"){

    @navbar("XodimlarRoyxati")

    <div class="container">
        <h1 class="text-center">Hodimlarning Ro'yhati</h1>
        <table class="table">
            <thead class="">
                <tr>
                    <th>
                        <b>FIO</b>
                    </th>
                    <th>
                        <b>Tug`ilgan sanasi</b>
                    </th>
                    <th>
                        <b>Bo'limi</b>
                    </th>
                    <th>
                        <b>Lavozimi</b>
                    </th>

                </tr>
            </thead>
            <tbody>
            @for(i <- workers){
                <tr>
                    <td>@(i.First_name + " "+ i.Last_name + " " + i.Second_name)</td>
                    <td>@i.Birthday</td>
                    <td>@i.Department</td>
                    <td>@i.Commission</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}