<!-- CONTACT -->

@main("Hodimlar") {
    @navbar("Xodimlar")

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center section-header">
                <h1 class="section-title"><b>Hodimlar shaxsiy ma'lumotlarini kiritish</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="row">
                    <form class="" action="#" method="post">
                        <div>
                            <input type="text" name="Ismi" placeholder="Ismi...">
                        </div>
                        <br>
                        <div>
                            <input type="email" name="Familyasi" placeholder="Familyasi...">
                        </div>
                        <br>
                        <div>
                            <input type="text" name="Otasining ismi" placeholder="Otasining ismi...">
                        </div>
                        <br>
                        <div class="text-center">
                            <label for="date"><b>Tugilgan sana: </b> </label>
                            <input type="date" id="date" name="Tugilgan sana">
                        </div>
                        <br>

                        <div class="col-md-6">
                            <label for="EduType_ID">
                                <select class="form-control" data-val="true" data-val-number="The field EduType_ID must be a number." id="EduType_ID" name="EduType_ID">
                                    <option value="">---Bolim (Kafedra)---</option>
                                    <option value="1">Kompyuter injineringi</option>
                                    <option value="2">Telekomunikatsiya </option>
                                    <option value="3">Kasb Ta'lim</option>
                                    <option value="4">Ma'muriyat</option>
                                </select>
                            </label>
                        </div>


                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="Position_ID">
                                    <select class="form-control" data-val="true" data-val-number="The field Position_ID must be a number." id="Position_ID" name="Position_ID">
                                        <option value="141">Bo'sh</option>
                                        <option value="151">Loyiha rahbari</option>
                                        <option value="152">Dasturchi</option>
                                        <option value="153">Bosh hisobchi</option>
                                        <option value="154">Ilmiy xodim</option>
                                        <option value="155">Ilmiy tadqiqotchi</option>
                                        <option value="156">Bo'lim boshlig'i</option>
                                        <option value="157">O'quv ishlari bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option value="158">Ilmiy ishlar bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option value="159">Moliyaviy-iqtisodiy ishlari bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option value="160">Xalqaro aloqalar bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option value="161">Rektor yordamchisi</option>
                                        <option value="162">Bosh muhandis</option>
                                        <option value="163">Bosh mexanik</option>
                                        <option value="164">Bosh energetik</option>
                                        <option value="165">Kotiba - ish yurituvchi</option>
                                        <option value="166">Huquqshunos maslahatchi</option>
                                        <option value="167">1-toifali huquqshunos maslahatchi</option>
                                        <option value="168">Uslubchi</option>
                                        <option value="169">Inspektor</option>
                                        <option value="170">Iqtidorli yoshlar bilan ishlash bo'yicha uslubchi</option>
                                        <option value="171">Metodik ishlar bo'yicha boshliq o'rinbosari</option>
                                        <option value="172">Sirtqi ta'lim uslubchisi</option>
                                        <option value="173">O'quv ishlari bo'yicha inspektor</option>
                                        <option value="174">Statist</option>
                                        <option value="175">Yosh mutaxasislar bilan ishlash bo'yicha bosh inspektor</option>
                                        <option value="176">Katta inspektor</option>
                                        <option value="177">Ilmiy tadqiqot ishlari muhandisi</option>
                                        <option value="178">Markaz boshlig'i - Axborot va texnik ta'minot bo'limi boshlig'i</option>
                                        <option value="179">Muhandis-dasturchi (toifasiz)</option>
                                        <option value="180">Muhandis-elektronchi (toifasiz)</option>
                                        <option value="181">Texnik - elektronchi</option>
                                        <option value="182">Kompyuter zali mudiri</option>
                                        <option value="183">Tizimli dasturlovchi</option>
                                        <option value="184">Tarmoq va ma'lumotlar bazasi administratori</option>
                                        <option value="185">Texnik</option>
                                        <option value="186">Bo'lim (sektor) mudiri</option>
                                        <option value="187">Direktor</option>
                                        <option value="188">Direktor o'rinbosari</option>
                                        <option value="189">Bo'lim (sektor) boshlig'i</option>
                                        <option value="190">Bosh kutubxonachi</option>
                                        <option value="191">Bosh bibliograf</option>
                                        <option value="192">Etakchi kutubxonachi</option>
                                        <option value="193">Etakchi bibliograf</option>
                                        <option value="194">Kutubxonachi(kategoriyasiz)</option>
                                        <option value="195">Bibliograf (kategoriyasiz)</option>
                                        <option value="196">Muqovalovchi</option>
                                        <option value="197">Nusxa ko'chirish-ko'paytirish uskunasi operatori</option>
                                        <option value="198">Restavrator</option>
                                        <option value="199">Muharrir</option>
                                        <option value="200">Musahhih</option>
                                        <option value="201">Texnik redaktor</option>
                                        <option value="202">Dekan o'rinbosari</option>
                                        <option value="203">O'quv ishlari bo'yicha dispetcher</option>
                                        <option value="204">1-toifali iqtisodchi</option>
                                        <option value="205">2-toifali iqtisodchi</option>
                                        <option value="206">Bosh buxgalter</option>
                                        <option value="207">Bosh buxgalter o'rinbosari</option>
                                        <option value="208">Bosh buxgalter o'rinbosari - auditor</option>
                                        <option value="209">To'lov-kontrakt asosida o'qitishdan tushgan mablag'larini hisobga olish bo'yicha buxgalter (toifasiz, 1,2-toifa)</option>
                                        <option value="210">Buxgalter (kategoriyasiz)</option>
                                        <option value="211">Katta g'aznachi</option>
                                        <option value="212">G'aznachi</option>
                                        <option value="213">Bosh ta'minotchi</option>
                                        <option value="214">Ombor mudiri</option>
                                        <option value="215">Omborchi</option>
                                        <option value="216">Radioaktiv moddalar ombori mudiri</option>
                                        <option value="217">Bino komendanti</option>
                                        <option value="218">Yordamchi ishchi</option>
                                        <option value="219">Xo'jalik mudiri</option>
                                        <option value="220">Dispetcher xizmati operatori</option>
                                        <option value="221">Talabalar turar joyi mudiri</option>
                                        <option value="222">slesar - santexnik</option>
                                        <option value="223">Elektromontyor</option>
                                        <option value="224">duradgor</option>
                                        <option value="225">Ventilyatsiya va konditsionerlashtirish tizimlarini ta'mirlash va xizmat ko'rsatish bo'yicha chilangar</option>
                                        <option value="226">Pol pardozlovchi</option>
                                        <option value="227">Xizmat binolari va Talabalar turar joyini tozalovchi farrosh</option>
                                        <option value="228">Gaz payvandlovchi</option>
                                        <option value="229">Garderobchi</option>
                                        <option value="230">Liftchi</option>
                                        <option value="231">Qorovul</option>
                                        <option value="232">Bog'bon</option>
                                        <option value="233">Xovli supuruvchi</option>
                                        <option value="234">Yuklovchi</option>
                                        <option value="235">Xo'jalik bekasi</option>
                                        <option value="236">Pasportist</option>
                                        <option value="237">Talabalar turar joyi direktori</option>
                                        <option value="238">Talabalar turar joyi direktori o'rinbosari</option>
                                        <option value="239">Talabalar shaharchasi direktori o'rinbosari</option>
                                        <option value="240">Dispetcher-garaj boshlig'i</option>
                                        <option value="241">Mexanik</option>
                                        <option value="242">Xaydovchi</option>
                                        <option value="243">Stantsiya boshlig'i (ATS)</option>
                                        <option value="244">Aloqa muhandisi (toifasiz)</option>
                                        <option value="245">Aloqa bo'yicha texnik</option>
                                        <option value="246">Aloqachi (aloqa elektromontyori)</option>
                                        <option value="247">Kabinet mudiri</option>
                                        <option value="248">Muhandis</option>
                                        <option value="249">Ishlab chiqarish ta'limi ustasi</option>
                                        <option value="250">Kontsertmeyster (etakchi kontsertmeyster)</option>
                                        <option value="251">Ma'naviy-ma'rifiy ishlar bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option value="252">Stajyor - tadqiqotchi izlanuvchi</option>
                                        <option value="253">EHM operatori</option>
                                        <option value="254">Ilmiy kengash kotibi</option>
                                        <option value="255">Devonxona mudiri</option>
                                        <option value="256">Ish yurituvchi</option>
                                        <option value="257">Arxiv mudiri</option>
                                        <option value="258">Arxivarius</option>
                                        <option value="259">Kuryer</option>
                                        <option value="260">O'quv jihozlari bo'yicha 1-toifali muhandis</option>
                                        <option value="261">Mehnat muhofazasi bo'yicha 1-toifali muhandis</option>
                                        <option value="262">Mehnat muhofazasi bo'yicha muhandis</option>
                                        <option value="263">Fuqaro mudofaasi va favqulodda vaziyatlar bo'yicha muhandis</option>
                                        <option value="264">Yong'in xavfsizligi bo'yicha instruktor</option>
                                        <option value="265">Katta tovarshunos</option>
                                        <option value="266">Muhandis-dasturchi (1 - toifa)</option>
                                        <option value="267">Muhandis-dasturchi (2 - toifa)</option>
                                        <option value="268">Muhandis-elektronchi (1 - toifa)</option>
                                        <option value="269">Muhandis-elektronchi (2 - toifa)</option>
                                        <option value="270">Kutubxonachi (1 - toifa)</option>
                                        <option value="271">Kutubxonachi (2 - toifa)</option>
                                        <option value="272">Bibliograf (1 - toifa)</option>
                                        <option value="273">Bibliograf( 2- toifa)</option>
                                        <option value="274">Buxgalter (1 - toifa)</option>
                                        <option value="275">Buxgalter (2 - toifa)</option>
                                        <option value="276">Aloqa muhandisi (1 - toifa)</option>
                                        <option value="277">Aloqa muhandisi (2 - toifa)</option>
                                        <option value="278">Laborant</option>
                                        <option value="279">Katta laborant</option>
                                        <option value="280">Etakchi Muhandis-dasturchi</option>
                                        <option value="285">Farosh</option>
                                        <option value="286">Kir yuvuvchi</option>
                                        <option value="287">Hovli supurovchi</option>
                                        <option value="288">Korovul</option>
                                        <option value="289">Bosh mutaxassis</option>
                                        <option value="292">Akademik lisey va kasb-hunar kollejlar bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                    </select>
                                </label>

                            </div>


                        </div> <!-- .row -->
                        <div class="col-md-3"></div>
                    </form>
                </div> <!-- .row -->
            </div>
        </div> <!-- .container -->
    </div>


}
