<!-- CONTACT -->

@main("Hodimlar") {
    @navbar("Xodimlar")

    <div class="container">
        @navtabs("asosiy")
        <div class="row">
            <div class="col-md-12 text-center section-header">
                <h1 class="section-title">Hodimning shaxsiy ma'lumotlarini kiritish</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="row">
                    <form class="" action="#" method="post">
                        <div>
                            <input type="text" name="Ismi" placeholder="Ismi...">
                        </div>
                        <br>
                        <div>
                            <input type="email" name="Familyasi" placeholder="Familyasi...">
                        </div>
                        <br>
                        <div>
                            <input type="text" name="Otasining ismi" placeholder="Otasining ismi...">
                        </div>
                        <br>
                        <div class="text-center">
                            <label for="date"><b>Tugilgan sana: </b> </label>
                            <input type="date" id="date" name="Tugilgan sana">
                        </div>
                        <br>

                        <div class="col-md-6">
                            <label for="EduType_ID">
                                <select class="form-control" data-val="true" data-val-number="The field EduType_ID must be a number." id="EduType_ID" name="EduType_ID">
                                    <option>---Bolim (Kafedra)---</option>
                                    <option>Kompyuter injineringi</option>
                                    <option>Telekomunikatsiya </option>
                                    <option>Kasb Ta'lim</option>
                                    <option>Ma'muriyat</option>
                                </select>
                            </label>
                        </div>


                        <div class="form-group">

                            <div class="col-md-6">
                                <label for="Position_ID">
                                    <select class="form-control" data-val="true" data-val-number="The field Position_ID must be a number." id="Position_ID" name="Position_ID">
                                        <option>Bo'sh</option>
                                        <option>Loyiha rahbari</option>
                                        <option>Dasturchi</option>
                                        <option>Bosh hisobchi</option>
                                        <option>Ilmiy xodim</option>
                                        <option>Ilmiy tadqiqotchi</option>
                                        <option>Bo'lim boshlig'i</option>
                                        <option>O'quv ishlari bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option>Ilmiy ishlar bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option>Moliyaviy-iqtisodiy ishlari bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option>Xalqaro aloqalar bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option>Rektor yordamchisi</option>
                                        <option>Bosh muhandis</option>
                                        <option>Bosh mexanik</option>
                                        <option>Bosh energetik</option>
                                        <option>Kotiba - ish yurituvchi</option>
                                        <option>Huquqshunos maslahatchi</option>
                                        <option>1-toifali huquqshunos maslahatchi</option>
                                        <option>Uslubchi</option>
                                        <option>Inspektor</option>
                                        <option>Iqtidorli yoshlar bilan ishlash bo'yicha uslubchi</option>
                                        <option>Metodik ishlar bo'yicha boshliq o'rinbosari</option>
                                        <option>Sirtqi ta'lim uslubchisi</option>
                                        <option>O'quv ishlari bo'yicha inspektor</option>
                                        <option>Statist</option>
                                        <option>Yosh mutaxasislar bilan ishlash bo'yicha bosh inspektor</option>
                                        <option>Katta inspektor</option>
                                        <option>Ilmiy tadqiqot ishlari muhandisi</option>
                                        <option>Markaz boshlig'i - Axborot va texnik ta'minot bo'limi boshlig'i</option>
                                        <option>Muhandis-dasturchi (toifasiz)</option>
                                        <option>Muhandis-elektronchi (toifasiz)</option>
                                        <option>Texnik - elektronchi</option>
                                        <option>Kompyuter zali mudiri</option>
                                        <option>Tizimli dasturlovchi</option>
                                        <option>Tarmoq va ma'lumotlar bazasi administratori</option>
                                        <option>Texnik</option>
                                        <option>Bo'lim (sektor) mudiri</option>
                                        <option>Direktor</option>
                                        <option>Direktor o'rinbosari</option>
                                        <option>Bo'lim (sektor) boshlig'i</option>
                                        <option>Bosh kutubxonachi</option>
                                        <option>Bosh bibliograf</option>
                                        <option>Etakchi kutubxonachi</option>
                                        <option>Etakchi bibliograf</option>
                                        <option>Kutubxonachi(kategoriyasiz)</option>
                                        <option>Bibliograf (kategoriyasiz)</option>
                                        <option>Muqovalovchi</option>
                                        <option>Nusxa ko'chirish-ko'paytirish uskunasi operatori</option>
                                        <option>Restavrator</option>
                                        <option>Muharrir</option>
                                        <option>Musahhih</option>
                                        <option>Texnik redaktor</option>
                                        <option>Dekan o'rinbosari</option>
                                        <option>O'quv ishlari bo'yicha dispetcher</option>
                                        <option>1-toifali iqtisodchi</option>
                                        <option>2-toifali iqtisodchi</option>
                                        <option>Bosh buxgalter</option>
                                        <option>Bosh buxgalter o'rinbosari</option>
                                        <option>Bosh buxgalter o'rinbosari - auditor</option>
                                        <option>To'lov-kontrakt asosida o'qitishdan tushgan mablag'larini hisobga olish bo'yicha buxgalter (toifasiz, 1,2-toifa)</option>
                                        <option>Buxgalter (kategoriyasiz)</option>
                                        <option>Katta g'aznachi</option>
                                        <option>G'aznachi</option>
                                        <option>Bosh ta'minotchi</option>
                                        <option>Ombor mudiri</option>
                                        <option>Omborchi</option>
                                        <option>Radioaktiv moddalar ombori mudiri</option>
                                        <option>Bino komendanti</option>
                                        <option>Yordamchi ishchi</option>
                                        <option>Xo'jalik mudiri</option>
                                        <option>Dispetcher xizmati operatori</option>
                                        <option>Talabalar turar joyi mudiri</option>
                                        <option>slesar - santexnik</option>
                                        <option>Elektromontyor</option>
                                        <option>duradgor</option>
                                        <option>Ventilyatsiya va konditsionerlashtirish tizimlarini ta'mirlash va xizmat ko'rsatish bo'yicha chilangar</option>
                                        <option>Pol pardozlovchi</option>
                                        <option>Xizmat binolari va Talabalar turar joyini tozalovchi farrosh</option>
                                        <option>Gaz payvandlovchi</option>
                                        <option>Garderobchi</option>
                                        <option>Liftchi</option>
                                        <option>Qorovul</option>
                                        <option>Bog'bon</option>
                                        <option>Xovli supuruvchi</option>
                                        <option>Yuklovchi</option>
                                        <option>Xo'jalik bekasi</option>
                                        <option>Pasportist</option>
                                        <option>Talabalar turar joyi direktori</option>
                                        <option>Talabalar turar joyi direktori o'rinbosari</option>
                                        <option>Talabalar shaharchasi direktori o'rinbosari</option>
                                        <option>Dispetcher-garaj boshlig'i</option>
                                        <option>Mexanik</option>
                                        <option>Xaydovchi</option>
                                        <option>Stantsiya boshlig'i (ATS)</option>
                                        <option>Aloqa muhandisi (toifasiz)</option>
                                        <option>Aloqa bo'yicha texnik</option>
                                        <option>Aloqachi (aloqa elektromontyori)</option>
                                        <option>Kabinet mudiri</option>
                                        <option>Muhandis</option>
                                        <option>Ishlab chiqarish ta'limi ustasi</option>
                                        <option>Kontsertmeyster (etakchi kontsertmeyster)</option>
                                        <option>Ma'naviy-ma'rifiy ishlar bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                        <option>Stajyor - tadqiqotchi izlanuvchi</option>
                                        <option>EHM operatori</option>
                                        <option>Ilmiy kengash kotibi</option>
                                        <option>Devonxona mudiri</option>
                                        <option>Ish yurituvchi</option>
                                        <option>Arxiv mudiri</option>
                                        <option>Arxivarius</option>
                                        <option>Kuryer</option>
                                        <option>O'quv jihozlari bo'yicha 1-toifali muhandis</option>
                                        <option>Mehnat muhofazasi bo'yicha 1-toifali muhandis</option>
                                        <option>Mehnat muhofazasi bo'yicha muhandis</option>
                                        <option>Fuqaro mudofaasi va favqulodda vaziyatlar bo'yicha muhandis</option>
                                        <option>Yong'in xavfsizligi bo'yicha instruktor</option>
                                        <option>Katta tovarshunos</option>
                                        <option>Muhandis-dasturchi (1 - toifa)</option>
                                        <option>Muhandis-dasturchi (2 - toifa)</option>
                                        <option>Muhandis-elektronchi (1 - toifa)</option>
                                        <option>Muhandis-elektronchi (2 - toifa)</option>
                                        <option>Kutubxonachi (1 - toifa)</option>
                                        <option>Kutubxonachi (2 - toifa)</option>
                                        <option>Bibliograf (1 - toifa)</option>
                                        <option>Bibliograf( 2- toifa)</option>
                                        <option>Buxgalter (1 - toifa)</option>
                                        <option>Buxgalter (2 - toifa)</option>
                                        <option>Aloqa muhandisi (1 - toifa)</option>
                                        <option>Aloqa muhandisi (2 - toifa)</option>
                                        <option>Laborant</option>
                                        <option>Katta laborant</option>
                                        <option>Etakchi Muhandis-dasturchi</option>
                                        <option>Farosh</option>
                                        <option>Kir yuvuvchi</option>
                                        <option>Hovli supurovchi</option>
                                        <option>Korovul</option>
                                        <option>Bosh mutaxassis</option>
                                        <option>Akademik lisey va kasb-hunar kollejlar bo'yicha prorektor (filial direktori o'rinbosari)</option>
                                    </select>
                                </label>

                            </div>

                        </div> <!-- .row -->
                        <div class="col-md-3"></div>
                    </form>
                </div> <!-- .row -->
            </div>
        </div> <!-- .container -->
    </div>


}
