@main("HodimlarRoyxati"){
  <div class="container">
  <h1 class="text-center">Hodimlarning Ro'yhati</h1>
      <table class="table">
          <thead class="">
              <tr>
                  <th>
                      <b>№</b>
                  </th>
                  <th>
            <b>Ismi</b>
                  </th>
                  <th>
                      <b>Familyasi</b>
                  </th>
                  <th>
                      <b>Otasining Ismi</b>
                  </th>
                  <th>
                      <b>Tug`ilgan sanasi</b>
                  </th>
                  <th>
                      <b>Bo'limi</b>
                  </th>

              </tr>
          </thead>
          <tbody>

          </tbody>
      </table>
  </div>

}