@(hodimlar: List[Hodim])

@main("HodimlarRoyxati"){

    @navbar("XodimlarRoyxati")

    <div class="container">
        <h1 class="text-center">Hodimlarning Ro'yhati</h1>
        <table class="table">
            <thead class="">
                <tr>
                    <th>
                        <b>FIO</b>
                    </th>
                    <th>
                        <b>Tug`ilgan sanasi</b>
                    </th>
                    <th>
                        <b>Bo'limi</b>
                    </th>
                    <th>
                        <b>Lavozimi</b>
                    </th>

                </tr>
            </thead>
            <tbody>
            @for(hodim <- hodimlar){
                <tr>
                    <td>@(hodim.First_name + " "+ hodim.Last_name + " " + hodim.Second_name)</td>
                    <td>@hodim.Birthday</td>
                    <td>@hodim.Department</td>
                    <td>@hodim.Commission</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}